<script lang="ts">
import { defineComponent, ref } from 'vue';
import VGrid from '@revolist/vue3-datagrid';
export default defineComponent({
  name: 'App',
  components: {
    VGrid,
  },
  setup() {
    return {
      columns: ref([
        {
          name: 'Birth',
          prop: 'birthdate',
          columnType: 'date',
          size: 150,
        },
        {
          prop: 'name',
          name: 'First',
        },
        {
          prop: 'details',
          name: 'Second',
        },
      ]),
      rows: ref([
        {
          birthdate: '2022-08-24',
          name: '1',
          details: 'Item 1',
        },
        {
          birthdate: '2022-08-24',
          name: '2',
          details: 'Item 2',
        },
      ]),
    };
  },
});
</script>

<template>
  <v-grid theme="compact" :source="rows" :columns="columns" />
</template>

<style scoped>
revo-grid {
  height: 100%;
  width: 100%;
}
</style>
